[2017-11-08 10:08] johnwalley opened #1 "Add README.md to bl.ocks example"
Improves search engine result

[2017-11-08 11:41] #1 closed

[2017-11-09 15:17] johnwalley opened #2 "Add gif to README"
![d3-simple-slider](https://user-images.githubusercontent.com/981531/32612807-1b4bc7d0-c561-11e7-95cf-1af7c10788d2.gif)

[2017-11-09 15:17] #2 closed

[2017-11-09 17:16] johnwalley opened #3 "Update links to line numbers in README"

[2017-11-09 17:17] johnwalley opened #4 "Improve example"
- [ ] Examples should take up less vertical space
- [ ] Update bl.ocks.org example

[2017-11-14 10:40] johnwalley opened #5 "Add example to README"

[2018-05-04 22:52] nharrisanalyst opened #6 "time slider first year on initial render the first year is always 1969"
![image](https://user-images.githubusercontent.com/16217396/39656215-1a6ba114-4fb3-11e8-894d-33c6c4e63712.png)

[2018-05-05 05:30] johnwalley commented on #6
Thanks for spotting this. I've pushed a fix which should now be live in v0.2.1

[2018-05-05 18:48] johnwalley opened #7 "JSDOM breaks render test for versions >11.3.0"

[2018-05-05 18:49] johnwalley commented on #5
README looks good now

[2018-05-05 18:49] #5 closed

[2018-05-07 10:37] johnwalley commented on #3
Done

[2018-05-07 10:37] #3 closed

[2018-06-26 17:29] nharrisanalyst commented on #6
thanks for making this!

[2018-07-02 10:58] #6 closed

[2018-07-02 10:59] johnwalley opened #8 "Labels can overlap"
<img width="474" alt="screen shot 2018-07-02 at 11 58 39" src="https://user-images.githubusercontent.com/981531/42160495-5f0e4168-7def-11e8-8415-568e396e9293.png">

[2018-07-02 12:15] johnwalley commented on #8
Possible solutions include providing a cut-down array of `tickValues` and rotating the labels after the fact, e.g. https://bl.ocks.org/mbostock/4403522

However, this module is named d3 *simple* slider so we should consider solutions which put less burden on the user. For example, provide an interface to let the user simple specify a rotation angle. Even better, but much larger in scope, would be

[2018-07-02 12:17] johnwalley opened #9 "Implement sliderVertical"

[2018-10-16 08:14] johnwalley opened #11 "Support building on Windows"
As described by @fmannhardt here...

And I could not add the preamble automatically on my Windows machine, so I copied the text manually.

_Originally posted by @fmannhardt in https://github.com/johnwalley/d3-simple-slider/pull/10#issuecomment-429963416_

[2018-10-16 08:26] johnwalley opened #12 "Update readme"
Reference changes in 9a69f26.

[2018-10-16 09:00] johnwalley commented on #12
Also add documentation on missing API properties

- [ ] marks
- [ ] step
- [ ] default
- [ ] domain

[2018-10-16 09:05] johnwalley opened #13 "Use prettier"
Add prettier as a dev dependency. Create CONTRIBUTING document and describe how to use prettier for this project.

[2018-10-16 17:18] johnwalley opened #14 "Update bl.ocks.org example to use vertical slider"

[2018-10-17 07:56] johnwalley opened #15 "Document how to change font size"
The larger issue would be styling but let's start small.

[2018-10-17 07:57] johnwalley commented on #9
Released in 1.1.0

[2018-10-17 07:57] #9 closed

[2018-10-17 08:52] johnwalley commented on #14
Done

[2018-10-17 08:52] #14 closed

[2018-11-07 20:29] rusackas opened #16 "Range slider support"
Just another enhancement request, but I'd love to be able to use this in dual-slider range selection mode to set upper and lower bounds on a data range.

[2018-11-07 20:36] rusackas commented on #8
You can use element.getComputedTextLength() to calculate the text width of the label, but the question is then what? One could:
• truncate the text and add an ellipsis, and keep knocking off characters until it fits in the designated width (slider width / # of ticks), but the label may be unusable (e.g. a bunch of "20..." in your example)
• figure out the widest label text, and skip every nth labe

[2018-11-08 19:13] #13 closed

[2018-11-08 19:16] johnwalley commented on #16
Makes a lot of sense. Just so I'm sure we're talking about the same feature, do you have in mind something like: https://jqueryui.com/slider/#range?

[2018-11-08 22:15] rusackas commented on #16
Precisely that. In my case I might want to select a date range, or a bracket of percentages between 0-100.

[2018-11-10 15:10] johnwalley opened #18 "Improve accessibility"
How can we support assistive technology?

Resources:

- [Using the slider role - Accessibility | MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_slider_role)
- [Horizontal Slider Example | WAI-ARIA Authoring Practices 1.1](https://www.w3.org/TR/wai-aria-practices/examples/slider/slider-1.html)

[2018-11-10 15:17] johnwalley opened #19 "Fill track"
Support filling the track up from the minimum value to the current value.

<img width="341" alt="screenshot 2018-11-10 at 15 16 08" src="https://user-images.githubusercontent.com/981531/48302946-960a9400-e4fb-11e8-9e54-da990de8cb0c.png">

[2018-11-10 15:18] johnwalley opened #20 "Add example of using a different handle shape"
A circle would be a good alternative

[2018-11-23 15:51] benjaminschlegel opened #22 "Pin disappears"
When changing the position of the pin on the slider, the d attributes disappears when going to a specific position.

"\<path transform="rotate(450)" d="M-5.5,-5.5v10l6,5.5l6,-5.5v-10z" fill="white" stroke="#777"\>\</path\>"

changes to "\<path transform="rotate(450)" fill="white" stroke="#777"\>\</path\>".

Do you have an idea why this could be the case?

[2018-11-23 22:29] benjaminschlegel commented on #22
Other parts of my code interrupted with the code.

[2018-11-23 22:29] #22 closed

[2018-12-15 21:57] pmcvay opened #23 "D3 version 5?"
How difficult is the library to update for version 5? We can help volunteer time for it as well

[2018-12-15 22:04] pmcvay commented on #23
It seems for what we need to do, just deleting the require's allows it to work with v5

[2018-12-16 11:11] johnwalley commented on #23
Could you describe the issue you were seeing with version 5? There shouldn't be any incompatible changes which would affect the slider component but I haven't tested it extensively.

[2018-12-16 11:42] johnwalley commented on #20
I've added an example in the storybook examples but I would also like to add it to the bl.ocks.org examples too before marking this complete.

[2018-12-16 16:06] pmcvay commented on #23
Right - the only issue are the require statements. If the require statements are there, nothing loads. If you delete all of the require statements, it works fine

[2018-12-16 22:07] johnwalley commented on #16
An initial version with range slider support is available in PR https://github.com/johnwalley/d3-simple-slider/pull/24.

[2018-12-17 18:06] johnwalley opened #25 "Error when dragging handle"
Reported by a user. The slider displays fine but when the user moves the handle nothing happens and the following error is thrown:

[code]

[2018-12-17 18:08] johnwalley commented on #25
This happens if the version of d3.select used by the application is different to the one expected by d3-simple-slider. This results in two copies of d3-selection being used and leads to the error.

This is addressed in version 1.3.3 which is compatible with many more versions of d3-selection (specifically ^1.0.0).

[2018-12-17 18:08] #25 closed

[2018-12-27 01:22] #12 closed, assigned to nobody

[2018-12-27 15:11] johnwalley commented on #11
Fixed by e273b78d37039454e049a95f2c7e01854da118cb.

Creating the zip after publishing may still fail on Windows but that is a far less common task.

[2018-12-27 15:11] #11 closed

[2019-01-21 21:14] johnwalley commented on #15
A precise method but error prone.

[code]

A more reliable method would be to set a class or id on the slider `<g>` element and set the font-size at that level.

[2019-01-25 14:08] johnwalley opened #26 "Calling value before rendering slider causes an error"
`var pos = toArray.map(scale).map(identityClamped);` scale is `null` at this point

[2019-01-25 14:20] johnwalley opened #27 "Don't dispatch onchange event if value has not changed"
This is a great way to trigger an infinite loop.

[2019-01-25 15:57] johnwalley opened #28 "If width is < 0 slider renders incorrectly even if width is then set to a sensible value"

[2019-01-28 10:20] johnwalley opened #29 "Add example of linked sliders"

[2019-02-03 09:11] johnwalley opened #30 "Copy array arguments"
Use https://github.com/d3/d3-axis/blob/master/src/axis.js as an example

[2019-02-03 09:43] #27 closed

[2019-02-03 09:48] #26 closed

[2019-02-08 14:38] niccololampa opened #31 "How to import or require after npm install?"
I am using React how do I import this after using npm install?

import * as d3 from 'd3';
import { sliderBottom } from 'd3-simple-slider';

Then any attempted use such as :

console.log(d3.sliderBottom);

results to the following error:

Attempted import error: 'sliderBottom' is not exported from 'd3' (imported as 'd3').

[2019-02-08 15:34] johnwalley commented on #31
You can use `sliderBottom` by itself, without the `d3` part. So

[code]

This is different to including this library as a script in a web page, where it is added to the global d3 object.

I will make this difference clearer in the documentation. Thanks for bringing it to my attention!

[2019-02-12 19:58] lpproulx opened #32 "Range slider issue/improvement"
I don't know if it's a bug or just the normal behavior but it's possible to have the lower range slider after the upper range slider. When that happen and you try to select the slider again it disappear and come back only when you stop dragging the slider.

Also, since it's a range selection it would be nice if it was possible to configure it so the minimum range is never smaller than the 'step' s

[2019-02-15 17:12] johnwalley commented on #32
Sounds like a bug. I'll try to reproduce and put together a fix. Thanks for reporting.

[2019-02-27 13:56] henryjameslau commented on #18
I've been working on a slider and just putting a few notes in here.

You could add some extra attritbutes (focusable,tabindex,aria-label) to the handle
[code]

And include some CSS for focus
[code]

Then when you're creating your sliders, you can add in some javascript to handle in keyboard
[code]
The above code comes from a combination of sources
- [managing focus in SVG](https://allyjs.io/tutori

[2019-02-28 09:24] henryjameslau commented on #18
[Here's a working example](https://bl.ocks.org/henryjameslau/b64bb6f1ce17f7357ad4b21c36b579dd)

[2019-03-03 13:25] johnwalley commented on #18
Thanks @henryjameslau. Those suggestions all look good. I'll incorporate them in the next couple of weeks.

[2019-03-04 19:18] johnwalley opened #33 "Do not allow range sliders to get closer than one step unit"
This is a standalone issue to implement part of #32.

[2019-03-04 19:20] johnwalley commented on #32
I've tried to ensure the lower range slider can never be greater than the upper one in 9dd7d6b8 (release 1.4.2).

I have also created issue #33 to capture the feature request to stop the range becoming a single value if step is defined.

[2019-03-04 19:20] #32 closed

[2019-03-05 14:29] johnwalley commented on #29
Done!

[2019-03-05 14:29] #29 closed

[2019-03-14 17:50] johnwalley commented on #18
Improvements now merged into master. Will need to test keyboard control in more situations before releasing a new version of the package.

[2019-03-14 17:50] #18 closed

[2019-03-14 17:53] johnwalley commented on #23
The only require statements I can see are in the UMD output for browsers, e.g. `dist/d3-simple-slider.js`. I'd need a reproducible example to diagnose further I'm afraid.

[2019-03-14 17:53] #23 closed

[2019-03-14 17:57] johnwalley opened #35 "Improve documentation on how to use the library"
The current documentation is copied from the READMEs of d3's modules, e.g. d3-shape, d3-axis. It is... quite opaque if you are not already familiar with such modules.

I propose making it much clearer that there are two ways to consume the library:

- in a browser with a script tag (added to the d3 global variable)
- using a bundler such as webpack or rollup (import or require as needed)

See #31

[2019-03-14 17:59] johnwalley commented on #31
Tracking this in the docs improvement issue #35

[2019-03-14 17:59] #31 closed

[2019-04-02 11:01] broweratcognitecdotcom opened #36 "Is a range slider supposed to have moving label thumb labels like the other modes of operation?"
Just noticed that when I provide an array of numbers, e.g. [0, 100] to .default() that the moving thumb labels don't show up like in the other modes. Is this intended? Thanks. Nice work John.
RB

[2019-04-02 11:11] johnwalley commented on #36
It is intended. In the sense that there's an explicit check in the code: https://github.com/johnwalley/d3-simple-slider/blob/master/src/slider.js#L285

However, I'm not sure it's the best behaviour. My original reason was to avoid handling the case where the labels overlap - making it difficult to read the values. Felt like the most pragmatic approach at the time. It might be worth revisiting if I

[2019-04-02 14:39] broweratcognitecdotcom commented on #36
Thanks for the quick response. You could display the slider values until the you stop sliding then fade them out and provide a tooltip on mouse over. Just an idea...

[2019-04-08 09:44] broweratcognitecdotcom opened #37 "Focus & keyboard events"
It would be very good if I could figure out how to give the slider focus and have it respond to keyboard events such as left & right or up & down arrows.

[2019-04-10 17:39] manaligaikwad opened #38 "d3-simple-slider not working on IE 11"
Hi there,

I am using d3-simple-slider in one of my Vue.js project. It works perfectly fine on Chrome and Firefox but giving following error on IE 11:

![image](https://user-images.githubusercontent.com/12480500/55900776-2d484600-5b85-11e9-98bb-c6eda963801b.png)

Thanks!

[2019-04-11 15:27] johnwalley opened #39 "Show handle value when using a range"
Reported by user in #36

[2019-04-11 15:27] johnwalley commented on #36
I think that's an excellent suggestion. I've created a new issue #39 to track it and will look to implement it next opportunity I get.

[2019-04-11 15:27] #36 closed

[2019-04-11 15:36] johnwalley commented on #37
I've been working on adding keyboard support and generally improving accessibility recently (see #18 for some previous discussion). I've just released this as version 1.5.0 which should be live.

In particular this lets you tab select the handle of the slider and use the keyboard to move it. Left, Right, Up, Down, PgUp, PgDown, Home and End are supported.

If you get the chance to try it out I'd b

[2019-04-11 15:39] johnwalley commented on #38
Thanks for reporting this. I should get a chance to reproduce this next week.

From the screenshot it looks like a syntax error so possibly I'm using something which is unsupported by IE11 and is not being transpiled/poly-filled correctly.

[2019-05-05 04:53] sorawee commented on #32
This is actually still not fixed. I will submit a PR to fix it.

[2019-06-14 08:18] broweratcognitecdotcom opened #43 "Does not support ie11 because of cross.js in d3-array"
See:
https://github.com/d3/d3-array/issues/87
https://github.com/d3/d3-array/issues/89

[2019-06-17 08:20] broweratcognitecdotcom commented on #38
Sorry for the duplicate. More info here: https://github.com/johnwalley/d3-simple-slider/issues/43

[2019-06-17 09:22] johnwalley commented on #43
Thanks for this. I hadn't noticed that d3 modules had started to ship with non-ES5 features (other than using modules). I'll have to think about what the best solution is

[2019-06-17 09:51] broweratcognitecdotcom opened #44 "Can't grab range slider knob"
If you are using a range slider with min 0 and max 100 and you drag the max to 0, then let it go, and try to drag the range max knob, you can only grab the range min knob. The range gets stuck at min 0 max 0. The range max knob should always have a higher 'z-order' so to say... If you click on the slider line it defaults to moving the range min knob.

[2019-06-17 09:51] broweratcognitecdotcom commented on #44
The range max knob should ~always~ have a higher 'z-order' so to say...

[2019-07-23 16:10] johnwalley commented on #44
Thanks for reporting this. I've made it a special case when both knobs are at the extreme ends of the slider. You now get the knob selected which allows you to get out of the situation described. This is released in v.1.5.3.

[2019-07-23 16:16] johnwalley commented on #43
I've reverted the dependency on d3-array back to version 1

[2019-07-23 16:16] #43 closed

[2019-07-23 16:16] #44 closed

[2019-08-12 19:55] johnwalley opened #56 "Support multiple major versions of d3 dependencies"
For example, d3-array and d3-scale have both recently released new major versions. Could be as simple as >=N.0.0 but would need compatibility testing.

[2019-08-26 22:54] johnwalley opened #63 "Create Observable example"

[2019-09-16 23:22] johnwalley commented on #63
Work in progress: https://observablehq.com/@johnwalley/d3-simple-slider

[2019-09-29 17:19] weibao73 opened #67 "Typescript support"
How can I use d3-simple-slider in Typescript? i cannot find the type definitions in NPM.

[2019-10-02 14:17] Dreaky255 opened #73 "Missing "tickValues()" in doc"
Just to warn that the "tickValues()" method description is missing from the "readme" in API reference.

That made me waste a lot of time until I noticed in the "Time" example the existence of such method.

[2019-11-13 21:01] alexandergerber opened #74 "Feature Request: Play/Pause Button"
I would really like to have an optional play/pause button for the sliders.
Would that be within the scope of your project?

[2019-11-20 17:40] johnwalley commented on #67
I don't have any plans to create type definitions. If I receive more requests I'll revisit the decision.

I'm mostly concerned with the maintenance required to keep the definitions in sync with the library.

[2019-11-20 17:47] johnwalley commented on #74
I'd say it's outside the scope of the project. I see it being made up of two parts:

1. ui controls for play/pause
1. functionality to repeatedly update the value of the slider when it is in the 'play' state

That said, I think it would make a good example/demo. I've got no immediate plans to add any new examples but I will update this issue if I do get around to it.

If you wanted to have a go yo

[2019-11-20 17:48] johnwalley commented on #73
Sorry for the delayed response and the wasted time 🙏.

I've now added a section to the README.

[2019-11-24 10:50] johnwalley commented on #56
There are a few issues to note about this. One is that newer major module versions make use of ES2015 language features.

Another is that there is no pressing need because the main d3 module does not use the newer versions of the individual libraries 🤔

[2019-12-29 22:21] johnwalley commented on #63
Closing this down as we have an example now.

[2019-12-29 22:21] #63 closed

[2020-01-18 19:23] ar-to opened #93 "Styling support needed"
Hello, first of all thanks for building and maintaining this project. Its definitely needed and its great!

Having said that, there is a limitation on what can be changed to match existing styles or create new ones. Here are some I found while working with it and correct me if I missed something in the documentation or in general.

- [ ] displayValue distance from the slider is hard coded and requ

[2020-01-20 12:43] johnwalley commented on #93
Hi @ar-to and thanks for the feedback. I'll take a proper look at these some time this week but I just wanted to get back to you with some initial thoughts.

1. this could be made configurable
1. Could you provide a bit more context here? Basically, an example of the containing div and everything it contains would be helpful. Making the elements inside an svg responsive is quite a complicated topi

[2020-01-20 22:25] #73 closed

[2020-01-20 22:26] johnwalley commented on #38
See #43

[2020-01-20 22:26] #38 closed

[2020-01-20 22:26] #37 closed

[2020-02-21 02:08] quesog commented on #67
Consider this a second request for Typescript definitions. Thanks!

[2020-02-21 11:30] johnwalley commented on #67
Let's re-open this issue. I'll attempt to create some type definitions and track progress at https://github.com/johnwalley/DefinitelyTyped. I'll give you both a ping when I have something ready to test.

[2020-03-02 14:40] Ziuan commented on #67
Very nice @johnwalley , this would be a perfect addition!

[2020-03-15 16:19] johnwalley commented on #67
First pass here: https://github.com/johnwalley/DefinitelyTyped/commit/712dcaa2b09b46633d77388abb31c9ef05ea2ef2

[2020-03-18 01:43] iosonosempreio opened #110 "d3.sliderRight() not display correctly"
Track line not covering all the scale when slider created with `d3.sliderRight()`.
Problem solves if created with `d3.sliderLeft()` as in the provided example.

[code]

The above code generates this, **which is not correct**:
<img width="83" alt="Screen Shot 2020-03-17 at 21 39 33" src="https://user-images.githubusercontent.com/7115395/76916756-d28c9380-6897-11ea-8b59-2e86a0c8c6ee.png">

[code]

T

[2020-03-18 12:52] johnwalley commented on #110
Thanks for reporting this. It also affects `sliderTop`. I have published version `1.5.5` which should fix the issue but do let me know if it does not!

[2020-04-07 12:54] johnwalley commented on #67
DefinitelyTyped PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/43705

[2020-04-09 18:32] JeremyBensoussan opened #120 "Feature request : Irregular steps"
Hi!
is there  a way to have a slider going to discrete irregular values by step?
For example 2001, 2012, 2015, 2017?
Thanks,

[2020-04-11 09:50] #120 closed

[2020-04-11 14:00] johnwalley commented on #67
@weibao73 @quesog @Ziuan

Merged and published! https://www.npmjs.com/package/@types/d3-simple-slider

Some methods do not yet have definitions but now we have something in place we can flesh out the definitions over time.

[2020-04-11 17:14] #39 closed

[2020-04-11 17:16] johnwalley commented on #110
Please re-open if this is still an issue. Closing on the assumption it is now fixed.

[2020-04-11 17:16] #110 closed

[2020-05-02 09:32] jynwhey opened #124 "Add more than two sliders will not update the value"
Thanks for this great plugin.
I don't know if it's a bug or just the normal behavior but it's possible to update the values of all sliders if users add more than two sliders.
I want to add more than two sliders on the axis, I add more than two default value like this `    slider.default([0.01, 0.011, 0.015])` . Through this code I can get 3 sliders in the webpage, but when I slide the slider, only

[2020-05-04 17:17] johnwalley commented on #124
Hi @jynwhey. I'm afraid it is intended behaviour. I'll take a look at what it would take to generalise to more than two handles when I next get the chance but it won't be for a week or two.

[2020-05-07 15:29] esperanc opened #125 ".default method"
It seems the .value method cannot be used to set a default value. The proper method is .default. It took me a while to figure this out, as it is not in the documentation.

[2020-05-08 16:55] johnwalley commented on #125
Thanks for spotting this. I agree that it is confusing. I've released a new version which I hope makes the slider behave as you'd expect: https://github.com/johnwalley/d3-simple-slider/releases/tag/v1.7.0.

I'll review the documentation as well when I get the chance.

[2020-05-14 11:06] thomasahle opened #126 "Change `min` and `max` values dynamically"
I have a slider for which the `max` value depends on another slider.

(Imagine for example that the product of the values of the two sliders must be below a certain value, so as the first one goes to 0, the max of the other grows very large.)

I have tried to just call `.max(new_max)` directly on the slider object.
I have also tried to then do a new `.call()` like this:

      this.my_slider = thi

[2020-05-21 17:26] johnwalley commented on #126
Hi @thomasahle. That's a good question and I think you've found a limitation in how .max() works. I'll look into it at some point over the next week.

I know it's not what solving exactly your problem but https://codepen.io/johnwalley/pen/RvPYvw is an example of multiple sliders with constraints if it is of any help.

[2020-06-07 18:42] johnwalley commented on #126
I've got something working in https://github.com/johnwalley/d3-simple-slider/pull/131. It needs some testing then I'll publish a new version

[2020-06-07 18:50] #125 closed

[2020-06-09 10:22] thomasahle commented on #126
Awesome! I'll test it out myself too!

[2020-06-19 22:30] jrgm opened #134 "slider.silentValue and slider.value are now identical; .value does not notify listeners"
I assume this was a copy-paste error in https://github.com/johnwalley/d3-simple-slider/commit/cf2cae5904ab5bbd778d9868ea4b1c7c7ad29777. At any rate keypress events no longer dispatch onchange events.

[2020-07-07 21:18] aidan-epperly commented on #110
Not sure if this is the same issue or not, but I am having a similar problem. I am trying to create and then hide a slider and then bring it back again. I do this by first creating a slider
[code]
Which yields:
![image](https://user-images.githubusercontent.com/29114346/86843564-95712a80-c05b-11ea-99f0-c5495a1a3985.png)

Then, later I use this if/else to create/delete the slider
[code]
Which yield

[2020-07-09 08:56] johnwalley commented on #134
Hi @jrgm. Apologies for the delay in replying. I'll take a look at this today.

[2020-07-09 08:59] johnwalley commented on #110
Thanks for taking the time to report this @aidan-epperly. I'll take a look and get back to you!

[2020-07-09 19:11] johnwalley commented on #134
You're absolutely right it was a copy-paste error. I've published a new version ([1.7.1](https://www.npmjs.com/package/d3-simple-slider/v/1.7.1)) which hopefully addresses the issue. Thanks again for reporting this.

[2020-07-10 06:51] allankamau opened #138 "some array values supplied to value() function being substituted by the lowest value in the array."
Somehow the values supplied as an array to value() function are being replaced by the lowest value in the array.
For example if I supply [1,1,10] to the value() function, the return value of value() call is [1,1,1].

This happened in the version 1.7.1 of the d3-simple-slider and I spent over 10 hours trying to figure out why the application I am developing which relies on d3-simple-slider had chan

[2020-07-10 09:04] johnwalley commented on #110
@aidan-epperly I've published v1.7.2 which I should address your issue. If you could test it out and let me know I'd be grateful. 👍

[2020-07-10 09:05] johnwalley commented on #138
Hi @allankamau. Thanks for reporting this. Sorry for the inconvenience. I'll take a look at this now!

[2020-07-10 09:44] johnwalley commented on #138
There's a few things going on here.

First up there is no explicit support for more than two handles on one slider (#124 is related).

That said, the library doesn't prevent you from specifying more than two values. I can see three ways forward:

1. Prevent the user creating a slider with more than two values
1. Fix it so that calling `value()` returns the result of calling `value(value)`. There a

[2020-07-10 09:56] johnwalley commented on #126
This has been published as [v1.8.0](https://github.com/johnwalley/d3-simple-slider/releases/tag/v.1.8.0)

[2020-07-10 09:57] #67 closed

[2020-07-10 10:56] allankamau commented on #138
Thank you for your swift reply.
I would also like to thank you for your nice software. I am using the three handle slider as part of a timeline player control.
I am happy to continue using d3-simple-slider version 1.7.0.
I may look into the change in #139 a little later.

[2020-07-10 15:11] aidan-epperly commented on #110
@johnwalley Yes, that fixes it! Thank you for the help.

[2020-07-10 17:14] jrgm commented on #134
Thanks. 1.7.1 works for me.

[2020-07-13 09:48] #134 closed

[2020-07-15 19:51] #126 closed

[2020-09-08 00:46] qmffkem opened #151 "compatibility issue?"
i think the current version of the slider does not work with the current version of d3 v6, as it displays "TypeError: Cannot read property 'ctrlKey' of null" when trying to slide the bar. Could it be because they changed all the event handlers on newer version?
The code I used were directly from the readme:
  var slider = d3
    .sliderHorizontal()
    .min(0)
    .max(10)
    .step(1)
    .width(

[2020-09-08 13:22] johnwalley commented on #151
Thanks for reporting this. I suspect it's related to the non-backwards compatible changes to the event system in v6. I need to take a look at what's changed and do some testing. It would also be nice to support both v5 and v6 for a while as I suspect there is a lot of code out there which needs upgrading manually (like this library!).

[2020-09-09 09:49] johnwalley commented on #151
I've started work on updating the library to work with d3 v6 here: #152. The changes are straightforward enough but I'm holding off on releasing v2 (this would be a breaking change) of this library until I've decided how to maintain support for d3 v5. In the meantime I've published `v2.0.0-rc.1` for anyone who wants to use d3-simple-slider with d3 v6.

[2020-09-09 14:36] qmffkem commented on #151
Thank you for the update!

[2020-09-10 08:19] MrMathur opened #153 "Error while interacting with slider button"
While following the instructions in the documentation for slider-setup, the following error emerges.

`Uncaught TypeError: Cannot read property 'x' of null
    at SVGGElement.<anonymous> (d3-simple-slider:2)
    at Dispatch.apply (d3.v5.js:796)
    at customEvent (d3.v5.js:1602)
    at gesture (d3.v5.js:1967)
    at SVGGElement.mousedowned (d3.v5.js:1890)
    at SVGGElement.<anonymous> (d3.v5.js:1

[2020-09-10 08:35] janicekchen commented on #153
I just updated to newest version of D3 and it started working for me again!

[2020-09-10 13:31] johnwalley commented on #153
Hi! I made a mistake when publishing the new prelease v2.0 which meant you would get that rather than the stable `1.8.0`. I've since updated the npm tags to ensure this doesn't happen

<img width="775" alt="Screenshot 2020-09-10 at 14 28 16" src="https://user-images.githubusercontent.com/981531/92736289-0ab9ee00-f372-11ea-88c5-f2c397a92313.png">

@janicekchen you're correct that upgrading to d3 v6

[2020-09-10 17:45] MrMathur commented on #153
I can confirm that it works for me now. Thank you so much for the prompt fix!

[2020-09-10 17:46] #153 closed

[2020-09-11 23:00] Programmer1228 opened #155 "Change label padding"
Hi -

First - REALLY enjoy using d3-simple-slider.

I've been trying to figure out how to change the label padding (distance) from the slider line. D3 has a similar builtin feature with ".tickPadding(#)". I am able to change the padding when the page loads, but once a user clicks on the slider, it reverts to default settings. Is this possible to change on load?

[2020-09-12 16:17] johnwalley commented on #155
Hi @Programmer1228. That's a good question and something we should support.

I've created PR #156 to add a new `tickPadding` method which replicates the same method in `d3-axis`. You can see the example story here: https://deploy-preview-156--d3-simple-slider.netlify.app/?path=/story/basic-functionality--padding. I need to do some testing but it doesn't look like there should be any issues so shou

[2020-09-13 18:21] johnwalley commented on #155
This has now been published as [`v1.9.0`](https://github.com/johnwalley/d3-simple-slider/releases/tag/v1.9.0).

[2020-09-13 20:05] Programmer1228 commented on #155
Awesome! Thank you SO much for the quick response! Works as expected!

[2020-09-13 20:05] #155 closed

[2020-09-14 08:39] johnwalley commented on #15
See #157 for progress.

[2020-09-14 22:53] johnwalley commented on #151
I've come up with a better way of supporting d3 v6 in #158. We can detect which version of d3 is present and adapt accordingly. I anticipate releasing this as `v1.10.0` once testing is complete.

[2020-09-15 08:52] johnwalley commented on #151
Released! https://github.com/johnwalley/d3-simple-slider/releases/tag/v1.10.0

[2020-09-16 09:34] johnmwalley opened #159 "New York Times example has a bug"
The drag zone for the slider does not cover the whole svg so there is a region above which the user might expect to be able to drag but cannot.

<img width="560" alt="Screenshot 2020-09-16 at 10 30 04" src="https://user-images.githubusercontent.com/63664756/93319674-0f662280-f808-11ea-838b-13e4eb9cc690.png">

[2020-09-16 10:29] johnwalley commented on #159
Reported this with the wrong account 😄 . It's not so much a bug but a flaw with the example. I've added a workaround in the example for the time being.

[2020-09-27 15:17] #151 closed

[2020-09-27 15:32] johnwalley commented on #159
We can revisit whether to make the draggable region customisable at a later date.

[2020-09-27 15:32] #159 closed

[2020-09-27 15:52] #15 closed

[2020-10-04 10:26] johnwalley commented on #35
README updated with #160

[2020-10-04 10:26] #35 closed

[2020-10-04 10:27] johnwalley commented on #56
Addressed with #152

[2020-10-04 10:27] #56 closed

[2020-10-23 16:01] mbucknell opened #165 "d3-compat.js doesn't work if you only have d3 v6 in the javascript bundle"
When I try to bundle an application that is using d3 v6 and d3-simple-slider, I get an error:

[code]
The import fails because event is not in the d3-selection module (I have installed version 2.0.0)

[2020-10-23 16:08] johnwalley commented on #165
Thanks for reporting this. Would you mind confirming which bundler (and version of it) you are using? I'm guessing Rollup but just want to be sure.

The `d3-compat.js` file is relying on that import not causing a build error even if the export is not found. It's clearly not working properly! I'll take a look over the weekend.

[2020-10-23 16:14] mbucknell commented on #165
Yes, I am using rollup and was investigating if there is a way to "handle" the error when the module is missing. I am using 2.28.1 of rollup. Thanks for looking into the issue. I'll see if I can come up with anything.

Thanks for the slider. We really like it and beats trying to use a html slider on a svg!

[2020-10-23 16:19] johnwalley commented on #165
Ah, thanks for the extra detail.

What we need is a reliable way of detecting which version of d3 the library sees. It's made a little muddy because someone might be importing all of `d3` or might just be bringing in `d3-selection`. Currently I look for whether `event` is exported by `d3-selection` but as you have noticed it isn't ideal. Let's see if we can come up with something better!

[2020-10-23 16:52] mbucknell commented on #165
I think I may have a fix. It works when I use it locally when using d3 v6. https://github.com/johnwalley/d3-simple-slider/pull/166

[2020-10-24 10:11] johnwalley commented on #165
Merged #166 and published as v1.10.2. Release notes: https://github.com/johnwalley/d3-simple-slider/releases/tag/v1.10.2.

Thanks for your help!

[2020-10-30 07:44] geohuz commented on #74
I'm wondering except for setting value (slider.value(x)) to make the slider changes, is there any api to tell the slider step into next point according to the setup? (Eg, we are set min, max, and step, now we just call sth to make it forward or backward?)

[2020-10-31 19:37] joeycato commented on #165
I just ran into this same issue even with latest code. In my case I used create-react-app (v4) to generate the initial project, and afterwards installed the d3 dependencies as follows:

[code]

When I launch using the sample d3-simpler-slider code, I hit that error. Should I downgrade to a different v6 version ( i.e. < 6.2.0 which is currently installed? )

Thanks!
-joey

[2020-11-01 03:07] joeycato commented on #165
Managed to finally workaround by it by downloading the d3-simple-slider source directly and including it in my project, then modifying d3-compat.js as follows:
[code]

Apparently the event property check is not enough to avoid the warning ( not sure why )

[2020-11-02 13:31] mbucknell commented on #165
I am using buble to compile and rollup to bundle. I to get the warning but the code compiles. The code will never hit the part that's generating the warning. It's not ideal but at does work (at least for me).

[2020-11-03 17:11] johnwalley commented on #165
I'll take another look at the weekend. I imagine using CRA is the most common way people are consuming this library so I'll use that as a base case 👍

@joeycato you can try pinning the d3-simple-slider to an older version which doesn't try to detect d3 v6, e.g. `v1.9.0` as a workaround for now

[2020-11-03 17:20] joeycato commented on #165
@johnwalley Good to know, I'll keep that in mind. Thanks for creating this btw, it works great so far!

[2020-11-11 17:13] johnwalley commented on #74
Hi @geohuz and thanks for the question. You are right in saying that the only way to currently do this is to set the slider value explicitly. I don't have any current plans to add a method to to step to the next (or previous point).

However, I'll finally get around to putting together an example of doing this in the next week or so.

[2020-11-11 20:28] johnwalley commented on #165
I'm still searching for a good solution. I can reproduce the problem with a new CRA example which is a nice starting place.

I've got an idea which uses dynamic imports but I'm not a fan: #167.

[2020-11-11 20:31] johnwalley commented on #74
I've started on an example in this PR #127

![Nov-11-2020 20-29-56](https://user-images.githubusercontent.com/981531/98861216-d390b780-245c-11eb-9281-ed3254c9703c.gif)

[2020-12-13 22:35] #165 closed

[2021-02-09 16:25] geohuz commented on #74
This is awesome! Can we use it for now?

[2021-02-18 11:01] Udneowi opened #174 "default value formatter"
Hi!

Thanks for this amazing and quick tool !

I'm running into an issue with the formatter used for the default value.
Right now I have defined both .tickFormat and .displayFormat but the default value will use the tickFormat? After dragging the slider it switches to the displayFormat but not on initialisation. Have I misunderstood something or is this intended use?

let sliderStep = d3.sliderBot

[2021-02-18 11:04] johnwalley commented on #74
Yes, feel free to use the code. I'll also merge the PR this weekend.

[2021-02-18 11:06] johnwalley commented on #174
Sounds like a bug! I'll investigate at the weekend and put together a fix.

[2021-02-18 11:22] Udneowi commented on #174
Sounds great!
Thanks for the quick feedback :)

[2021-02-24 12:10] johnwalley commented on #174
Just released the fix as v1.10.4 https://github.com/johnwalley/d3-simple-slider/releases/tag/v1.10.4. If you could let me know if it works when you get time to try it out I'd be grateful.

Thanks for reporting this 👍

[2021-02-24 12:10] johnwalley opened #175 "Support building on Windows"
Do not use platform-specific commands or syntax in npm build scripts.

[2021-02-24 13:05] Udneowi commented on #174
It works!
Thanks a lot for the quick fix :)

[2021-02-24 13:05] #174 closed

[2021-03-12 12:34] geohuz commented on #74
hi @johnwalley would you give me a link for the example  code? I could't find it any where, thanks

[2021-03-12 13:24] johnwalley commented on #74
https://github.com/johnwalley/d3-simple-slider/pull/168/files

Still in the PR for now :)

[2021-03-17 05:19] geohuz commented on #74
Hi @johnwalley  thanks for the demo, I've tried to wrap the player into react component, but I found the marker don't move, only the fill progress. Would you mind help me to fix the issue? Here is the link on code sandbox: https://codesandbox.io/s/optimistic-brook-l09pp?file=/src/App.js

Thanks

[2021-03-17 11:39] johnwalley commented on #74
You could do something like this: https://codesandbox.io/s/angry-river-gldvt.

They key is to avoid getting into an infinite loop (user moves handle -> call setPosition -> set value on slider -> call setPosition ->...) which is where slientValue helps.

[2021-03-17 14:06] geohuz commented on #74
@johnwalley appreciate it so much! problem solved!

[2021-05-13 14:54] Abhi-ak opened #183 "Year slider displays area in between steps"
I'm trying to create a year step slider in d3 (v5) with the years 2000 through 2021.
`    const slider =
    sliderBottom()
    .min(new Date(2000, 1, 1))
    .max(new Date(2020, 1, 1))
    .tickFormat(d3.timeFormat('%Y'))
    .tickValues(ar)
    .default(new Date(2000, 10, 3))
    .width(rectWidth - margin.right - 65)
    .height(75)
    .on("onchange", (value) => {
      year = d3.timeFormat('%Y

[2021-05-17 11:18] Abhi-ak commented on #183
Can anyone help me out here?

[2021-05-17 11:32] johnwalley commented on #183
Hi @Abhi-ak. Sorry for not getting back to you sooner. You could try to use the `marks` method which will restrict the values the slider is allowed to snap to.

Making SVGs responsive is a big topic. For this library you can see an example of dynamically changing the width at https://github.com/johnwalley/d3-simple-slider/blob/f6479de338169834c0716df88166d66d6440fa30/stories/extended-functionality

[2021-05-17 11:47] Abhi-ak commented on #183
Hi @johnwalley. Tried giving marks but now the issue is that I cannot select odd years.

Marks: `[2000, 2002, 2004, 2006......2022]`

[2021-05-19 19:49] johnwalley commented on #183
Do you an example somewhere I can test, for example on Codepen? I can't test this at the moment but I just wanted to check that you've tried setting `tickValues` to `[2000, 2002, 2004, ...]` and `marks` to `[2000, 2001, 2002, ...]`?